.top-nav {
	width: 100vw;
	height: 100px;
	background-color: $white;
	.flex-nav-wrapper {
		display: flex;
		flex-flow: row nowrap;
		justify-content: flex-start;
		align-content: center;
		align-items: center;
		padding: 0 150px;
		height: 100%;
		.flex-item {
			padding-right: 40px;
			&:last-of-type {
				padding-right: 0;
			}
		}
	}
}
