div(class="modal pi")
    div.close
        include ../../svgs/close-btn.svg
    div.content
        img(src="../shared/global-assets/images/pi/prescribing-information_1.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_2.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_3.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_4.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_5.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_6.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_7.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_8.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_9.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_10.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_11.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_12.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_13.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_14.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_15.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_16.jpg")
        img(src="../shared/global-assets/images/pi/prescribing-information_17.jpg")

