div(class="modal references")
    div.close
        include ../../svgs/close-btn.svg
    h1 References:
    div(class="content")
        ol
            li This is a reference
            li This is another reference
