footer
	div(id="isi__full")
		div.isi-content-wrapper
			div.isi-button-wrapper
				a(id="isi-btn" class="button isi-button" title="Toggle The Footer" data-trackAnswer="N/A" data-trackId="Footer ISI: toggled" data-trackType="tracking" data-trackDesc="Footer ISI: toggled")
					span Open
					img(src="../shared/global-assets/images/open.png" class="open-img")
					img(src="../shared/global-assets/images/close.png" class="close-img hide")
			div.isi-content
				h1 Important Safety Information
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur maximus ipsum ut sollicitudin pretium. Nulla facilisi. Cras eu eros et dui ullamcorper posuere. Etiam rutrum, est ut auctor laoreet, magna felis maximus nisl, ac tincidunt eros elit vel nulla. Nam placerat erat sed turpis lacinia, sit amet interdum velit hendrerit. Fusce eu elit nec leo facilisis imperdiet ut nec orci. Fusce rhoncus sapien vitae justo posuere, a mattis sapien ornare. Aenean velit mi, faucibus eu gravida a, pulvinar a eros. Mauris rhoncus nec felis blandit sodales. Curabitur tincidunt tempus libero eget vestibulum. Proin sem velit, congue a enim sit amet, molestie pellentesque ex. Aenean suscipit quam augue, at semper eros accumsan et. Maecenas ut fringilla ipsum.

				p In accumsan, sem at ultricies cursus, nisi ipsum volutpat ante, lobortis sagittis tellus velit sit amet nunc. Donec vel tellusquis lectus tristique condimentum at sit amet erat. Nam et erat in libero tincidunt molestie eget nec eros. Maecenas neque est, pharetra eget nisi non, pellentesque congue urna. Vivamus vitae eros diam. Morbi justo lectus, bibendum eu malesuada ac, rutrum suscipit purus. Suspendisse potenti. Aliquam ullamcorper nisl sed felis fermentum, eu efficitur est auctor. Aliquam erat volutpat. Morbi sed porttitor ipsum. Fusce sed bibendum purus. In quis nisi lectus.

				p Donec ullamcorper augue ac tellus scelerisque aliquet. Vestibulum in mi dictum, tempus lacus non, semper lectus. Vivamus ac ipsumex. Nulla finibus efficitur mauris, quis imperdiet lacus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Donec sollicitudin, ligula at eleifend consectetur, nunc nibh semper nisi, id iaculis purus dui in tellus. Sed tempor justo iaculis auctor condimentum. Morbi consequat tincidunt auctor. Nulla dictum in nulla non viverra. Fusce maximus libero cursus sem malesuada, et laoreet libero rutrum.

				p Fusce sed tempor ligula. Nulla posuere tincidunt elit ac egestas. Praesent ut pharetra lacus. In euismod velit tellus, non pretiumurna tempus vel. Nulla facilisi. Phasellus at augue tempor ante ultrices eleifend. Aenean pellentesque viverra dignissim. Etiam tempus neque finibus, aliquam arcu id, convallis risus. Praesent vel risus id arcu convallis interdum in vitae eros. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

				p Phasellus eu blandit nisi, convallis rutrum ipsum. Quisque ac faucibus magna. Phasellus egestas sollicitudin est vitae convallis.Ut fermentum, dolor quis condimentum pharetra, nibh augue malesuada libero, ac lobortis ex arcu in magna. In egestas nibh non luctus porttitor. Proin hendrerit dolor sed ipsum aliquam fermentum. Donec vel efficitur lectus. Aenean molestie leo libero, et rhoncus libero tristique quis. Mauris leo nisi, sagittis sed vulputate id, vestibulum eget dolor. Sed eget cursus dolor. Praesent mattis mauris a metus hendrerit bibendum. Sed malesuada dignissim diam ut tristique. In egestas commodo ligula et lacinia.