div.top-nav
	div.flex-nav-wrapper
		div(class="flex-item isi-link" id="isi-link")
			p Important Safety Information
		div(class="flex-item modal-link" data-overlay="pi")
			p Prescribing Information
		div(class="flex-item modal-link" data-overlay="references")
			p References
		div(class="flex-item modal-link" data-overlay="case-studies")
			p Case Studies
